In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('index_eurocup.csv')
df1 = pd.read_csv('minutes_eurocup.csv')

In [4]:
df

,Unnamed: 0,season,rank,player,team,games,index,average,per_40min
0,0,2020-21,1,"LESSORT, MATHIAS",AS Monaco,23,409,17.78,28.96
1,1,2020-21,2,"TEODOSIC, MILOS",Virtus Segafredo Bologna,19,362,19.05,27.71
2,2,2020-21,3,"BROWN, JOHN",UNICS Kazan,24,347,14.46,22.32
3,3,2020-21,4,"SMITH, JAMAR",UNICS Kazan,22,345,15.68,23.34
4,4,2020-21,5,"KNIGHT, MARCOS",AS Monaco,23,330,14.35,21.37
...,...,...,...,...,...,...,...,...,...
7487,7487,2002-03,329,"POPOVIC, SLOBODAN",FMP Belgrade,5,-7,-1.40,-8.00
7488,7488,2002-03,329,"TOLBERT, BRIAN",Snaidero Udine,2,-7,-3.50,-10.77
7489,7489,2002-03,331,"SYLVERE, BRYAN",Cholet Basket,7,-8,-1.14,-6.53
7490,7490,2002-03,332,"TERDENGE, GERRIT",RheinEnergie Cologne,11,-9,-0.82,-3.86
7491,7491,2002-03,332,"MAJOR, GERRIT",Ostend,6,-9,-1.50,-3.16

In [5]:
playersIndex = df.drop('Unnamed: 0', axis=1)

In [6]:
playersIndex.columns = playersIndex.columns.str.strip()

In [7]:
playersMinutes = df1.drop('Unnamed: 0', axis=1)

In [8]:
playersMinutes.columns = playersMinutes.columns.str.strip()

In [9]:
playersMinutes

       season  rank             player                    team  games minutes
0     2020-21     1     CANAAN, ISAIAH             UNICS Kazan     24  646:45
1     2020-21     2          BOST, DEE               AS Monaco     22  634:42
2     2020-21     3        BROWN, JOHN             UNICS Kazan     24  621:49
3     2020-21     4     KNIGHT, MARCOS               AS Monaco     23  617:43
4     2020-21     5    O'BRIEN, JALEEL               AS Monaco     23  610:51
...       ...   ...                ...                     ...    ...     ...
7487  2002-03   328  CVJETKOVIC, NENAD        Ricoh Astronauts      1    1:00
7488  2002-03   328    AGAPITO, DAVIDE  Generali Group Trieste      1    1:00
7489  2002-03   328     SCAPIN, MATTEO    Eurocellulari Roseto      1    1:00
7490  2002-03   328    VIDOVIC, SANJIN            Telekom Bonn      1    1:00
7491  2002-03   328    SPAHIJA, JURICA          BCM Gravelines      1    1:00

[7492 rows x 6 columns]

In [10]:
baseU18 = playersIndex.merge(playersMinutes[['season', 'player', 'team', 'games', 'minutes']],'left',on=['season', 'player', 'team', 'games'],suffixes=('', 'minutes'))

In [11]:
baseU18

,season,rank,player,team,games,index,average,per_40min,minutes
0,2020-21,1,"LESSORT, MATHIAS",AS Monaco,23,409,17.78,28.96,565:00
1,2020-21,2,"TEODOSIC, MILOS",Virtus Segafredo Bologna,19,362,19.05,27.71,522:38
2,2020-21,3,"BROWN, JOHN",UNICS Kazan,24,347,14.46,22.32,621:49
3,2020-21,4,"SMITH, JAMAR",UNICS Kazan,22,345,15.68,23.34,591:13
4,2020-21,5,"KNIGHT, MARCOS",AS Monaco,23,330,14.35,21.37,617:43
...,...,...,...,...,...,...,...,...,...
7487,2002-03,329,"POPOVIC, SLOBODAN",FMP Belgrade,5,-7,-1.40,-8.00,35:00
7488,2002-03,329,"TOLBERT, BRIAN",Snaidero Udine,2,-7,-3.50,-10.77,26:00
7489,2002-03,331,"SYLVERE, BRYAN",Cholet Basket,7,-8,-1.14,-6.53,49:00
7490,2002-03,332,"TERDENGE, GERRIT",RheinEnergie Cologne,11,-9,-0.82,-3.86,93:10
7491,2002-03,332,"MAJOR, GERRIT",Ostend,6,-9,-1.50,-3.16,114:00

In [12]:
dup_index = baseU18.groupby(['player'])['index'].transform(max) == baseU18['index']
base_index = baseU18[dup_index].sort_values(by=['player'])

In [13]:
base_index

,season,rank,player,team,games,index,average,per_40min,minutes
5422,2007-08,282,"AARTS, MARCEL",EiffelTowers Den Bosch,10,75,7.50,16.81,178:31
800,2018-19,95,"ABALDE, ALBERTO",Valencia Basket,23,127,5.52,13.88,365:52
381,2019-20,22,"ABASS, AWUDU",Germani Brescia Leonessa,15,194,12.93,19.49,398:07
7276,2002-03,118,"ABBIO, ALESSANDRO",Pamesa Valencia,9,88,9.78,16.68,211:00
2947,2013-14,342,"ABBOTT, TY",Kalev Cramo Tallinn,9,66,7.33,9.66,273:17
...,...,...,...,...,...,...,...,...,...
6927,2003-04,219,"ZUZA, JURICA",Ionikos NF Egnatia Bank,6,60,10.00,18.50,129:45
4574,2009-10,265,"ZVARYKIN, VICTOR",Unics,7,23,3.29,9.93,92:39
1639,2016-17,230,"ZVEREV, NIKITA",Nizhny Novgorod,9,13,1.44,8.49,61:14
3419,2012-13,361,"ZVIGURS, IVARS",VEF Riga,1,2,2.00,70.59,1:08
2565,2014-15,411,"ZWIENER, PHILLIP",EWE Baskets Oldenburg,10,28,2.80,7.51,149:06

In [14]:
dup_avg = base_index.groupby(['player'])['average'].transform(max) == base_index['average']
base = base_index[dup_avg].sort_values(by=['player'])

In [15]:
base

,season,rank,player,team,games,index,average,per_40min,minutes
5422,2007-08,282,"AARTS, MARCEL",EiffelTowers Den Bosch,10,75,7.50,16.81,178:31
800,2018-19,95,"ABALDE, ALBERTO",Valencia Basket,23,127,5.52,13.88,365:52
381,2019-20,22,"ABASS, AWUDU",Germani Brescia Leonessa,15,194,12.93,19.49,398:07
7276,2002-03,118,"ABBIO, ALESSANDRO",Pamesa Valencia,9,88,9.78,16.68,211:00
2947,2013-14,342,"ABBOTT, TY",Kalev Cramo Tallinn,9,66,7.33,9.66,273:17
...,...,...,...,...,...,...,...,...,...
6927,2003-04,219,"ZUZA, JURICA",Ionikos NF Egnatia Bank,6,60,10.00,18.50,129:45
4574,2009-10,265,"ZVARYKIN, VICTOR",Unics,7,23,3.29,9.93,92:39
1639,2016-17,230,"ZVEREV, NIKITA",Nizhny Novgorod,9,13,1.44,8.49,61:14
3419,2012-13,361,"ZVIGURS, IVARS",VEF Riga,1,2,2.00,70.59,1:08
2565,2014-15,411,"ZWIENER, PHILLIP",EWE Baskets Oldenburg,10,28,2.80,7.51,149:06

In [16]:
base.to_csv('baseEurocup.csv')