In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('baseU18.csv')
df2 = pd.read_csv('baseEuroleague.csv')
df3 = pd.read_csv('baseEurocup.csv')

In [3]:
df1 = df1.drop('Unnamed: 0', axis=1)
df1

,season,rank,player,team,games,index,average,per_40min,minutes
0,2018-19 KAUNAS,4,"ABAD, MAURO",U18 TORRONS VICENS L'HOSPITALET,4,74,18.50,29.37,100:46
1,2012-13,11,"ABALDE, ALBERTO",IJT CLUB JOVENTUT BADALONA,9,115,12.78,19.82,232:08
2,2002-03,47,"ABBAD, ROMAIN",U18 ELAN BEARNAIS PAU ORTHEZ,3,9,3.00,4.86,74:00
3,2009-10,286,"ABIA, LARRY",IJT POWER ELECTRONICS,3,4,1.33,3.73,42:54
4,2015-16 KAUNAS,67,"ABRAHA, FEKREMARIAM",U18 PORSCHE BASKETBALL ACADEMY LUDWIGSBURG,3,2,0.67,1.95,40:56
...,...,...,...,...,...,...,...,...,...
3955,2020-21 VALENCIA,89,"ZULEMIE, NATHAN",U18 Nanterre 92,4,-5,-1.25,-3.02,66:07
3956,2008-09,222,"ZUYKOV, DANYLO",BC KYIV,4,8,2.00,2.64,121:01
3957,2011-12,343,"ZVEREV, NIKITA",IJT BC KHIMKI MOSCOW REGION,3,0,0.00,0.00,10:11
3958,2011-12,39,"ZVIGURS, IVARS",IJT VEF RIGA,4,69,17.25,20.97,131:38
3959,2015-16 BELGRADE,10,"ZYLKA, FERDINAND",U18 ALBA BERLIN,4,85,21.25,30.48,111:33

In [4]:
df1['index1'] = df1.index
df1

,season,rank,player,team,games,index,average,per_40min,minutes,index1
0,2018-19 KAUNAS,4,"ABAD, MAURO",U18 TORRONS VICENS L'HOSPITALET,4,74,18.50,29.37,100:46,0
1,2012-13,11,"ABALDE, ALBERTO",IJT CLUB JOVENTUT BADALONA,9,115,12.78,19.82,232:08,1
2,2002-03,47,"ABBAD, ROMAIN",U18 ELAN BEARNAIS PAU ORTHEZ,3,9,3.00,4.86,74:00,2
3,2009-10,286,"ABIA, LARRY",IJT POWER ELECTRONICS,3,4,1.33,3.73,42:54,3
4,2015-16 KAUNAS,67,"ABRAHA, FEKREMARIAM",U18 PORSCHE BASKETBALL ACADEMY LUDWIGSBURG,3,2,0.67,1.95,40:56,4
...,...,...,...,...,...,...,...,...,...,...
3955,2020-21 VALENCIA,89,"ZULEMIE, NATHAN",U18 Nanterre 92,4,-5,-1.25,-3.02,66:07,3955
3956,2008-09,222,"ZUYKOV, DANYLO",BC KYIV,4,8,2.00,2.64,121:01,3956
3957,2011-12,343,"ZVEREV, NIKITA",IJT BC KHIMKI MOSCOW REGION,3,0,0.00,0.00,10:11,3957
3958,2011-12,39,"ZVIGURS, IVARS",IJT VEF RIGA,4,69,17.25,20.97,131:38,3958
3959,2015-16 BELGRADE,10,"ZYLKA, FERDINAND",U18 ALBA BERLIN,4,85,21.25,30.48,111:33,3959

In [5]:
df2 = df2.drop('Unnamed: 0', axis=1)
df2

,season,rank,player,team,games,index,average,per_40min,minutes
0,2020-21,76,"ABALDE, ALBERTO",Real Madrid,29,245,8.45,16.53,592:51
1,2016-17,153,"ABASS, AWUDU",EA7 Emporio Armani Milan,23,85,3.70,9.23,368:32
2,2000-01,55,"ABBIO, ALESSANDRO",Kinder Virtus Bologna,19,149,7.84,12.71,468:53
3,2006-07,250,"ABDUL-RAUF, MAHMOUD",Aris TT Bank,17,22,1.29,4.57,192:45
4,2001-02,310,"ABI, MUSTAFA",Ulker,11,19,1.73,6.90,110:10
...,...,...,...,...,...,...,...,...,...
2667,2002-03,139,"ZUKAUSKAS, MINDAUGAS",Montepaschi Siena,22,107,4.86,8.20,522:00
2668,2008-09,157,"ZUPAN, MIHA",Union Olimpija,10,70,7.00,12.79,218:51
2669,2004-05,229,"ZUZA, JURICA",Cibona VIP,6,32,5.33,16.84,76:00
2670,2008-09,318,"ZWIENER, PHILLIP",Alba Berlin,3,-2,-0.67,-7.03,11:23
2671,2015-16,324,"ZYWERT, KAMIL",Stelmet Zielona Gora,1,0,0.00,0.00,1:36

In [6]:
df3 = df3.drop('Unnamed: 0', axis=1)
df3

,season,rank,player,team,games,index,average,per_40min,minutes
0,2007-08,282,"AARTS, MARCEL",EiffelTowers Den Bosch,10,75,7.50,16.81,178:31
1,2018-19,95,"ABALDE, ALBERTO",Valencia Basket,23,127,5.52,13.88,365:52
2,2019-20,22,"ABASS, AWUDU",Germani Brescia Leonessa,15,194,12.93,19.49,398:07
3,2002-03,118,"ABBIO, ALESSANDRO",Pamesa Valencia,9,88,9.78,16.68,211:00
4,2013-14,342,"ABBOTT, TY",Kalev Cramo Tallinn,9,66,7.33,9.66,273:17
...,...,...,...,...,...,...,...,...,...
3831,2003-04,219,"ZUZA, JURICA",Ionikos NF Egnatia Bank,6,60,10.00,18.50,129:45
3832,2009-10,265,"ZVARYKIN, VICTOR",Unics,7,23,3.29,9.93,92:39
3833,2016-17,230,"ZVEREV, NIKITA",Nizhny Novgorod,9,13,1.44,8.49,61:14
3834,2012-13,361,"ZVIGURS, IVARS",VEF Riga,1,2,2.00,70.59,1:08
3835,2014-15,411,"ZWIENER, PHILLIP",EWE Baskets Oldenburg,10,28,2.80,7.51,149:06

In [7]:
new_merged_df = df1.merge(df2[['season', 'player', 'team', 'games','index', 'average', 'per_40min', 'minutes']],'left',on=['player'],suffixes=('', '_euroleague'))

In [8]:
new_merged_df

,season,rank,player,team,games,index,average,per_40min,minutes,index1,season_euroleague,team_euroleague,games_euroleague,index_euroleague,average_euroleague,per_40min_euroleague,minutes_euroleague
0,2018-19 KAUNAS,4,"ABAD, MAURO",U18 TORRONS VICENS L'HOSPITALET,4,74,18.50,29.37,100:46,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-13,11,"ABALDE, ALBERTO",IJT CLUB JOVENTUT BADALONA,9,115,12.78,19.82,232:08,1,2020-21,Real Madrid,29.0,245.0,8.45,16.53,592:51
2,2002-03,47,"ABBAD, ROMAIN",U18 ELAN BEARNAIS PAU ORTHEZ,3,9,3.00,4.86,74:00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-10,286,"ABIA, LARRY",IJT POWER ELECTRONICS,3,4,1.33,3.73,42:54,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-16 KAUNAS,67,"ABRAHA, FEKREMARIAM",U18 PORSCHE BASKETBALL ACADEMY LUDWIGSBURG,3,2,0.67,1.95,40:56,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3959,2020-21 VALENCIA,89,"ZULEMIE, NATHAN",U18 Nanterre 92,4,-5,-1.25,-3.02,66:07,3955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3960,2008-09,222,"ZUYKOV, DANYLO",BC KYIV,4,8,2.00,2.64,121:01,3956,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3961,2011-12,343,"ZVEREV, NIKITA",IJT BC KHIMKI MOSCOW REGION,3,0,0.00,0.00,10:11,3957,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3962,2011-12,39,"ZVIGURS, IVARS",IJT VEF RIGA,4,69,17.25,20.97,131:38,3958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3963,2015-16 BELGRADE,10,"ZYLKA, FERDINAND",U18 ALBA BERLIN,4,85,21.25,30.48,111:33,3959,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df1['equal'] = df1['player'].isin(df2['player'])

In [10]:
df1

,season,rank,player,team,games,index,average,per_40min,minutes,index1,equal
0,2018-19 KAUNAS,4,"ABAD, MAURO",U18 TORRONS VICENS L'HOSPITALET,4,74,18.50,29.37,100:46,0,False
1,2012-13,11,"ABALDE, ALBERTO",IJT CLUB JOVENTUT BADALONA,9,115,12.78,19.82,232:08,1,True
2,2002-03,47,"ABBAD, ROMAIN",U18 ELAN BEARNAIS PAU ORTHEZ,3,9,3.00,4.86,74:00,2,False
3,2009-10,286,"ABIA, LARRY",IJT POWER ELECTRONICS,3,4,1.33,3.73,42:54,3,False
4,2015-16 KAUNAS,67,"ABRAHA, FEKREMARIAM",U18 PORSCHE BASKETBALL ACADEMY LUDWIGSBURG,3,2,0.67,1.95,40:56,4,False
...,...,...,...,...,...,...,...,...,...,...,...
3955,2020-21 VALENCIA,89,"ZULEMIE, NATHAN",U18 Nanterre 92,4,-5,-1.25,-3.02,66:07,3955,False
3956,2008-09,222,"ZUYKOV, DANYLO",BC KYIV,4,8,2.00,2.64,121:01,3956,False
3957,2011-12,343,"ZVEREV, NIKITA",IJT BC KHIMKI MOSCOW REGION,3,0,0.00,0.00,10:11,3957,False
3958,2011-12,39,"ZVIGURS, IVARS",IJT VEF RIGA,4,69,17.25,20.97,131:38,3958,False
3959,2015-16 BELGRADE,10,"ZYLKA, FERDINAND",U18 ALBA BERLIN,4,85,21.25,30.48,111:33,3959,False

In [48]:
new_merged_df['equal'] = new_merged_df['player'].isin(df1['player'])

In [49]:
new_merged_df.to_csv('whatwrong.csv')

In [50]:

### AINDA EXISTEM JOGADORES REPETIDOS, PASSAR NOVO FILTRO
### PASSAR O FILTRO RELACIONADO AOS MINUTOS JOGADOS PARA TODAS AS BASES

In [16]:
testes= pd.read_csv('whatwrong.csv')

In [12]:
org = new_merged_df.sort_values(by=['minutes_euroleague'], ascending=True)

In [13]:
out_dup = org.drop_duplicates(subset=['season', 'player', 'team'], keep = 'last')

In [14]:
aa = out_dup.sort_values(by=['player'])

In [40]:

### A PARTIR DAQUI É NECESSÁRIO DEIXAR ORGANIZADO OS ARQUIVOS E COMBINAR A BASE DA EUROCUP E REPETIR O PROCESSO CASO HAJA ALGUM REPETIDO

In [38]:
aa.to_csv('abc.csv')

In [15]:
aa

,season,rank,player,team,games,index,average,per_40min,minutes,index1,season_euroleague,team_euroleague,games_euroleague,index_euroleague,average_euroleague,per_40min_euroleague,minutes_euroleague
0,2018-19 KAUNAS,4,"ABAD, MAURO",U18 TORRONS VICENS L'HOSPITALET,4,74,18.50,29.37,100:46,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-13,11,"ABALDE, ALBERTO",IJT CLUB JOVENTUT BADALONA,9,115,12.78,19.82,232:08,1,2020-21,Real Madrid,29.0,245.0,8.45,16.53,592:51
2,2002-03,47,"ABBAD, ROMAIN",U18 ELAN BEARNAIS PAU ORTHEZ,3,9,3.00,4.86,74:00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-10,286,"ABIA, LARRY",IJT POWER ELECTRONICS,3,4,1.33,3.73,42:54,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-16 KAUNAS,67,"ABRAHA, FEKREMARIAM",U18 PORSCHE BASKETBALL ACADEMY LUDWIGSBURG,3,2,0.67,1.95,40:56,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3959,2020-21 VALENCIA,89,"ZULEMIE, NATHAN",U18 Nanterre 92,4,-5,-1.25,-3.02,66:07,3955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3960,2008-09,222,"ZUYKOV, DANYLO",BC KYIV,4,8,2.00,2.64,121:01,3956,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3961,2011-12,343,"ZVEREV, NIKITA",IJT BC KHIMKI MOSCOW REGION,3,0,0.00,0.00,10:11,3957,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3962,2011-12,39,"ZVIGURS, IVARS",IJT VEF RIGA,4,69,17.25,20.97,131:38,3958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3963,2015-16 BELGRADE,10,"ZYLKA, FERDINAND",U18 ALBA BERLIN,4,85,21.25,30.48,111:33,3959,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
plus_eurocup = aa.merge(df3[['season', 'player', 'team', 'games','index', 'average', 'per_40min', 'minutes']],'left',on=['player'],suffixes=('', '_eurocup'))

In [17]:
plus_eurocup

,season,rank,player,team,games,index,average,per_40min,minutes,index1,...,average_euroleague,per_40min_euroleague,minutes_euroleague,season_eurocup,team_eurocup,games_eurocup,index_eurocup,average_eurocup,per_40min_eurocup,minutes_eurocup
0,2018-19 KAUNAS,4,"ABAD, MAURO",U18 TORRONS VICENS L'HOSPITALET,4,74,18.50,29.37,100:46,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-13,11,"ABALDE, ALBERTO",IJT CLUB JOVENTUT BADALONA,9,115,12.78,19.82,232:08,1,...,8.45,16.53,592:51,2018-19,Valencia Basket,23.0,127.0,5.52,13.88,365:52
2,2002-03,47,"ABBAD, ROMAIN",U18 ELAN BEARNAIS PAU ORTHEZ,3,9,3.00,4.86,74:00,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-10,286,"ABIA, LARRY",IJT POWER ELECTRONICS,3,4,1.33,3.73,42:54,3,...,NaN,NaN,NaN,2011-12,Valencia Basket,4.0,6.0,1.50,5.18,46:19
4,2015-16 KAUNAS,67,"ABRAHA, FEKREMARIAM",U18 PORSCHE BASKETBALL ACADEMY LUDWIGSBURG,3,2,0.67,1.95,40:56,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3955,2020-21 VALENCIA,89,"ZULEMIE, NATHAN",U18 Nanterre 92,4,-5,-1.25,-3.02,66:07,3955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3956,2008-09,222,"ZUYKOV, DANYLO",BC KYIV,4,8,2.00,2.64,121:01,3956,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3957,2011-12,343,"ZVEREV, NIKITA",IJT BC KHIMKI MOSCOW REGION,3,0,0.00,0.00,10:11,3957,...,NaN,NaN,NaN,2016-17,Nizhny Novgorod,9.0,13.0,1.44,8.49,61:14
3958,2011-12,39,"ZVIGURS, IVARS",IJT VEF RIGA,4,69,17.25,20.97,131:38,3958,...,NaN,NaN,NaN,2012-13,VEF Riga,1.0,2.0,2.00,70.59,1:08
3959,2015-16 BELGRADE,10,"ZYLKA, FERDINAND",U18 ALBA BERLIN,4,85,21.25,30.48,111:33,3959,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:

### PAREI AQUI, PRECISO ASSOCIAR 0, 1 E 2, PARA CADA SITUAÇÃO, ATÉ ENTÃO NÃO TIVE SUCESSO

In [32]:
def f(row):
    if pd.isna(row['games_euroleague']) == False:
        val = 2
    elif pd.isna(row['games_eurocup']) == False:
        val = 1
    else:
        val = 0
    return val

In [18]:
base_mod = plus_eurocup

In [33]:
base_mod['max_level'] = base_mod.apply(f, axis=1)

In [91]:
xd['games'].astype('float64')

0       4.0
1       9.0
2       3.0
3       3.0
4       3.0
       ...
3955    4.0
3956    4.0
3957    3.0
3958    4.0
3959    4.0
Name: games, Length: 3960, dtype: float64

In [113]:
base_mod['games_eurocup'] = base_mod['games_eurocup'].astype('float64')
base_mod['games_euroleague'] = base_mod['games_euroleague'].astype('float64')
base_mod['games'] = base_mod['games'].astype('float64')
base_mod['team_eurocup'] = base_mod['team_eurocup'].fillna('')
base_mod['team_euroleague'] = base_mod['team_euroleague'].fillna('')

In [35]:
base_mod.to_csv('base_28052021.csv')

In [125]:
plus_eurocup

,season,rank,player,team,games,index,average,per_40min,minutes,index1,...,average_euroleague,per_40min_euroleague,minutes_euroleague,season_eurocup,team_eurocup,games_eurocup,index_eurocup,average_eurocup,per_40min_eurocup,minutes_eurocup
0,2018-19 KAUNAS,4,"ABAD, MAURO",U18 TORRONS VICENS L'HOSPITALET,4,74,18.50,29.37,100:46,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-13,11,"ABALDE, ALBERTO",IJT CLUB JOVENTUT BADALONA,9,115,12.78,19.82,232:08,1,...,8.45,16.53,592:51,2018-19,Valencia Basket,23.0,127.0,5.52,13.88,365:52
2,2002-03,47,"ABBAD, ROMAIN",U18 ELAN BEARNAIS PAU ORTHEZ,3,9,3.00,4.86,74:00,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-10,286,"ABIA, LARRY",IJT POWER ELECTRONICS,3,4,1.33,3.73,42:54,3,...,NaN,NaN,NaN,2011-12,Valencia Basket,4.0,6.0,1.50,5.18,46:19
4,2015-16 KAUNAS,67,"ABRAHA, FEKREMARIAM",U18 PORSCHE BASKETBALL ACADEMY LUDWIGSBURG,3,2,0.67,1.95,40:56,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3955,2020-21 VALENCIA,89,"ZULEMIE, NATHAN",U18 Nanterre 92,4,-5,-1.25,-3.02,66:07,3955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3956,2008-09,222,"ZUYKOV, DANYLO",BC KYIV,4,8,2.00,2.64,121:01,3956,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3957,2011-12,343,"ZVEREV, NIKITA",IJT BC KHIMKI MOSCOW REGION,3,0,0.00,0.00,10:11,3957,...,NaN,NaN,NaN,2016-17,Nizhny Novgorod,9.0,13.0,1.44,8.49,61:14
3958,2011-12,39,"ZVIGURS, IVARS",IJT VEF RIGA,4,69,17.25,20.97,131:38,3958,...,NaN,NaN,NaN,2012-13,VEF Riga,1.0,2.0,2.00,70.59,1:08
3959,2015-16 BELGRADE,10,"ZYLKA, FERDINAND",U18 ALBA BERLIN,4,85,21.25,30.48,111:33,3959,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN